In [9]:
def say_hello():
    print('Hello there!')
    print('How are you?')

In [10]:
say_hello()

Hello there!
How are you?

In [11]:
def filter_even(number_list):
    result_list = []
    for number in number_list:
        if number % 2 == 0:
            result_list.append(number)
    return result_list

In [12]:
filter_even([1, 2, 3, 4, 5, 6, 7])

[2, 4, 6]

In [13]:
def loan_emi(amount):
    emi = amount / 12
    print('The EMI is ${}'.format(emi))

In [14]:
loan_emi(1260000)

The EMI is $105000.0

In [15]:
def loan_emi(amount, duration):
    emi = amount / duration
    print('The EMI is ${}'.format(emi))

In [16]:
loan_emi(1260000, 8*12)

The EMI is $13125.0

In [17]:
loan_emi(1260000, 10*12)

The EMI is $10500.0

In [18]:
def loan_emi(amount, duration):
    emi = amount / duration
    return emi

In [19]:
emi1 = loan_emi(1260000, 8*12)

In [20]:
emi2 = loan_emi(1260000, 10*12)

In [21]:
emi1

13125.0

In [22]:
emi2

10500.0

In [26]:
def loan_emi(amount, duration, down_payment):
    loan_amount = amount - down_payment
    emi = loan_amount / duration
    return emi

In [27]:
emi1 = loan_emi(1260000, 8*12, 3e5)

In [31]:
emi1

10000.0

In [29]:
emi2 = loan_emi(1260000, 10*12, 0)

In [30]:
emi2

10500.0

In [33]:
def loan_emi(amount, duration, rate, down_payment):
    loan_amount = amount - down_payment
    emi = loan_amount * rate * ((1+rate)**duration) / (((1+rate)**duration)-1)
    return emi

In [34]:
loan_emi(1260000, 8*12, 0.1/12, 3e5)

14567.19753389219

In [35]:
loan_emi(1260000, 10*12, 0.08/12, 0)

15287.276888775077

<h2> Named Arguments

In [36]:
emi1 = loan_emi(
    amount=1260000, 
    duration=8*12, 
    rate=0.1/12, 
    down_payment=3e5
)

In [38]:
round(emi1, 0)

14567.0

In [39]:
import math

In [40]:
def loan_emi(amount, duration, rate, down_payment):
    loan_amount = amount - down_payment
    emi = loan_amount * rate * ((1+rate)**duration) / (((1+rate)**duration)-1)
    emi = math.ceil(emi)
    return emi

In [42]:
loan_emi(
    amount=1260000, 
    duration=8*12, 
    rate=0.1/12, 
    down_payment=3e5
)

14568

In [43]:
cost_of_house = 800000
home_loan_duration = 6*12 # months
home_loan_rate = 0.07/12 # monthly
home_down_payment = .25 * 800000

emi_house = loan_emi(amount=cost_of_house,
                     duration=home_loan_duration,
                     rate=home_loan_rate, 
                     down_payment=home_down_payment)

emi_house

10230

In [45]:
cost_of_car = 60000
car_loan_duration = 1*12 # months
car_loan_rate = .12/12 # monthly

emi_car = loan_emi(amount=cost_of_car, 
                   duration=car_loan_duration, 
                   rate=car_loan_rate,
                   down_payment = 0)

emi_car

5331

In [47]:
emi_with_interest = loan_emi(amount=100000, duration=10*12, rate=0.09/12, down_payment=0)
emi_with_interest

1267

In [ ]:
emi_without_interest = loan_emi(amount=100000, duration=10*12, rate=0./12, down_payment=0)
emi_without_interest

ZeroDivisionError: float division by zero

In [50]:
def loan_emi(amount, duration, rate, down_payment=0):
    loan_amount = amount - down_payment
    try:
        emi = loan_amount * rate * ((1+rate)**duration) / (((1+rate)**duration)-1)
    except ZeroDivisionError:
        emi = loan_amount / duration
    emi = math.ceil(emi)
    return emi

In [51]:
emi_with_interest = loan_emi(amount=100000, duration=10*12, rate=0.09/12)
emi_with_interest

1267

In [52]:
emi_without_interest = loan_emi(amount=100000, duration=10*12, rate=0)
emi_without_interest

834

In [53]:
total_interest = (emi_with_interest - emi_without_interest) * 10*12

In [54]:
print("The total interest paid is ${}.".format(total_interest))

The total interest paid is $51960.

## Exercise - Data Analysis for Vacation Planning

You're planning a vacation, and you need to decide which city you want to visit. You have shortlisted four cities and identified the return flight cost, daily hotel cost, and weekly car rental cost. While renting a car, you need to pay for entire weeks, even if you return the car sooner.


| City | Return Flight (`$`) | Hotel per day (`$`) | Weekly Car Rental  (`$`) | 
|------|--------------------------|------------------|------------------------|
| Paris|       200                |       20         |          200           |
| London|      250                |       30         |          120           |
| Dubai|       370                |       15         |          80           |
| Mumbai|      450                |       10         |          70           |         


Answer the following questions using the data above:

1. If you're planning a 1-week long trip, which city should you visit to spend the least amount of money?
2. How does the answer to the previous question change if you change the trip's duration to four days, ten days or two weeks?
3. If your total budget for the trip is `$1000`, which city should you visit to maximize the duration of your trip? Which city should you visit if you want to minimize the duration?
4. How does the answer to the previous question change if your budget is `$600`, `$2000`, or `$1500`?

*Hint: To answer these questions, it will help to define a function `cost_of_trip` with relevant inputs like flight cost, hotel rate, car rental rate, and duration of the trip. You may find the `math.ceil` function useful for calculating the total cost of car rental.*

In [55]:
def costOfTrip(returnFlight, hotelPerDay, carRental):
  totalCost = returnFlight + (hotelPerDay * 7) + carRental
  totalCost = math.ceil(totalCost)
  return totalCost

In [61]:
costOfTrip(200, 20, 200) #Trip to Paris

540

In [62]:
costOfTrip(250, 30, 120) #Trip to London

580

In [63]:
costOfTrip(370, 15, 80) #Trip to Dubai

555

In [64]:
costOfTrip(450, 10, 70) #Trip to Mumbai

590

In [65]:
# 4 Days
def costOfTrip(returnFlight, hotelPerDay, carRental):
  totalCost = returnFlight + (hotelPerDay * 4) + carRental
  totalCost = math.ceil(totalCost)
  return totalCost

In [66]:
# 10 Days
def costOfTrip(returnFlight, hotelPerDay, carRental):
  totalCost = returnFlight + (hotelPerDay * 10) + (carRental *2)
  totalCost = math.ceil(totalCost)
  return totalCost

In [67]:
# 2 weeks
def costOfTrip(returnFlight, hotelPerDay, carRental):
  totalCost = returnFlight + (hotelPerDay * 14) + (carRental *2)
  totalCost = math.ceil(totalCost)
  return totalCost