In [9]:
((2 + 5) * (17 - 3)) / (4 ** 3)

1.53125

<h3> Problem 1 </h3>
A grocery store sells a bag of ice for $1.25 and makes a 20% profit. If it sells 500 bags of ice, how much total profit does it make?

In [12]:
#Variables stored
costOfIceBag = 1.25
profit = .2
numberOfBags = 500

#Calculation
totalProfit = numberOfBags * profit * costOfIceBag

#Display the Result
print(f'The grocery store makes a total profit of $ {totalProfit}')

The grocery store makes a total profit of $ 125.0

<h1>Evaluating conditions using Python </h1>

In [13]:
my_favorite_number = 1
my_least_favorite_number = 5
a_neutral_number = 3

In [14]:
# Equality check - True
my_favorite_number == 1

True

In [15]:
# Equality check - False
my_favorite_number == my_least_favorite_number

False

In [16]:
# Not equal check - True
my_favorite_number != a_neutral_number

True

In [17]:
# Not equal check - False
a_neutral_number != 3

False

In [18]:
# Greater than check - True
my_least_favorite_number > a_neutral_number

True

In [19]:
# Less than check - False
my_least_favorite_number < my_favorite_number

False

<h3> Combining conditions with logical operators</h3>

In [20]:
my_favorite_number > 0 and my_favorite_number <= 3

True

In [21]:
my_favorite_number < 0 and my_favorite_number <= 3

False

In [22]:
my_favorite_number > 0 and my_favorite_number >= 3

False

In [23]:
a_neutral_number == 3 or my_favorite_number < 0

True

In [24]:
a_neutral_number != 3 or my_favorite_number < 0

False

In [25]:
my_favorite_number < 0 or True

True

<h3> Variables and Data Types </h3>

In [27]:
color1, color2, color3 = 'green', 'red', 'black'

In [28]:
color2

'red'

In [29]:
color4 = color5 = color6 = 'magenta'

In [30]:
color6

'magenta'

In [33]:
counter = 10
counter +=1
counter

11

In [34]:
type(counter)

int

In [36]:
#Integers
currentYear = 2025
aLargeNegativeNumber = -1597896351875265589631
type(aLargeNegativeNumber)

int

In [38]:
#float
pi = 3.141592
aNumber = 3.0
type(aNumber)

float

In [40]:
one_hundredth = 1e-2
type(one_hundredth)

float

In [41]:
avogadro_number = 6.02214076e23
avogadro_number
type(avogadro_number)

float

In [45]:
is_today_Sunday = True
is_today_Sunday
type(is_today_Sunday)

bool

In [46]:
cost_of_ice_bag = 1.25
is_ice_bag_expensive = cost_of_ice_bag >= 10
is_ice_bag_expensive

False

In [47]:
5 + False

5

In [48]:
3. + True

4.0

In [49]:
bool(False)

bool(0)

bool(0.0)

bool(None)

bool("")

bool([])

bool(())

bool({})

bool(set())

bool(range(0))

False

In [50]:
nothing = None
type(nothing)

NoneType

In [52]:
today = "Saturday"
today

'Saturday'

In [53]:
type(today)

str

In [55]:
yet_another_pun = '''Son: "Dad, can you tell me what a solar eclipse is?" 
Dad: "No sun."'''
print(yet_another_pun)

Son: "Dad, can you tell me what a solar eclipse is?"
Dad: "No sun."

In [56]:
len('hello')

5

In [62]:
multiline_string = """a
b"""
multiline_string

'a\nb'

In [63]:
len(multiline_string)

3

In [64]:
list(multiline_string)

['a', '\n', 'b']

In [65]:
today = "Saturday"

In [66]:
today[0]

'S'

In [67]:
today[5:8]

'day'

In [69]:
full_name = "Derek O'Brien"
greeting = "Hello"
greeting + full_name

"HelloDerek O'Brien"

In [70]:
greeting + " " + full_name + "!" # additional space

"Hello Derek O'Brien!"

In [71]:
today.lower()

'saturday'

In [72]:
"saturday".upper()

'SATURDAY'

In [73]:
"monday".capitalize() # changes first character to uppercase

'Monday'

In [75]:
another_day = today.replace("Satur", "Wednes")
another_day

'Wednesday'

In [76]:
today

'Saturday'

In [77]:
"Sun,Mon,Tue,Wed,Thu,Fri,Sat".split(",")

['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']

In [80]:
a_long_line = "       This is a long line with some space before, after,     and some space in the middle..    "
a_long_line_stripped = a_long_line.strip()
a_long_line_stripped

'This is a long line with some space before, after,     and some space in the middle..'

In [81]:
# Input variables
cost_of_ice_bag = 1.25
profit_margin = .2
number_of_bags = 500

# Template for output message
output_template = """If a grocery store sells ice bags at $ {} per bag, with a profit margin of {} %, 
then the total profit it makes by selling {} ice bags is $ {}."""

print(output_template)

If a grocery store sells ice bags at $ {} per bag, with a profit margin of {} %,
then the total profit it makes by selling {} ice bags is $ {}.

In [82]:
# Inserting values into the string
total_profit = cost_of_ice_bag * profit_margin * number_of_bags
output_message = output_template.format(cost_of_ice_bag, profit_margin*100, number_of_bags, total_profit)

print(output_message)

If a grocery store sells ice bags at $ 1.25 per bag, with a profit margin of 20.0 %,
then the total profit it makes by selling 500 ice bags is $ 125.0.

In [83]:
str(True)

'True'

In [84]:
True

True

<h3>List</h3>

In [85]:
fruits = ['apple', 'banana', 'cherry']
fruits

['apple', 'banana', 'cherry']

In [86]:
type(fruits)

list

In [87]:
a_list = [23, 'hello', None, 3.14, fruits, 3 <= 5]
a_list

[23, 'hello', None, 3.14, ['apple', 'banana', 'cherry'], True]

In [89]:
empty_list = []
empty_list

[]

In [90]:
len(fruits)

3

In [91]:
print("Number of fruits:", len(fruits))

Number of fruits: 3

In [92]:
fruits[0]

'apple'

In [93]:
fruits[2]

'cherry'

In [94]:
fruits[-1]

'cherry'

In [95]:
fruits[-2]

'banana'

In [97]:
a_list

[23, 'hello', None, 3.14, ['apple', 'banana', 'cherry'], True]

In [98]:
a_list[2:5] #5 Not included

[None, 3.14, ['apple', 'banana', 'cherry']]